@import 'const.sass'

.HomeLayoutContainer
    display: flex

    &__menuLogos
        flex: 0.25
    
    &__menuSection
        flex: 1.25
        background-color: $color-black
        height: 100vh
    
    &__mainDetails
        flex: 3
    
    &__userProfile
        flex: 1
        background-color: $color-black
        height: 100vh
