@import 'const.sass'

.MenuLogosContainer
    padding: 12rem 1rem

    div
        border-radius: 50%
        display: flex
        justify-content: center
        align-items: center
        margin-bottom: 1.5rem
        height: 50px
        width: 50px
        

    &__netflixLogo
        background-color: $color-white
            
    &__huluLogo
        background-color: $color-green
    
    &__appleTV
        background-color: $color-grey-black



